body {
  margin: 1rem 6.3rem;
  padding: 6px 4px;
}
@media screen and (max-width: 576px) {
  body {
    margin: 4px 20px;
    padding: 1px;
  }
    
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.light-text {
  color: #8987A1;
  font-weight: 400;
}
.cart,
.home {
    color: #000;
}
.cart,
.home,
.light-text {
    font-size: smaller;
}
a {
    text-decoration: none;
    color:#343a40;
}
.cart {
    display: flex;
    align-items: center;
}
.cart img {
    margin-right: 0;
}
.link {
    display: flex;
    gap: 2rem;
}
@media screen and (max-width: 576px) {
    .link {
        display: none;
    }
    .navtitle {
        margin: 5px 0 8px 0;
    }
    
}
.links {
    list-style: none;
    display: flex;
    gap: 2.2rem;
}
.navtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 58px;
    width: auto;
    display: block;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.side-text {
    font-size: medium;
    font-weight: 380;
    margin: 0;
    padding: 0;
    flex: 1;
}
.orrange-text {
    color: #E95A08;
}
.banner-title {
    font-size: 2.9rem;
    line-height: 1.4;
    padding-bottom: 0.5rem;
    margin: 0;
    flex: 1;
}
@media screen and (max-width: 576px) {
    .banner-title {
        font-size: 2.2rem;
        padding: 0;
    }  
}
.banner-image,
.banner-text {
    width: 100%;
}
.banner-image img {
    width: 100%;
    height: auto;
    display: block;
}
@media screen and (max-width: 576px) {
    .banner-image,
    .banner-text {
        width: 100%;
    }
    .banner-image {
        margin: 0 -21px;
    }
    
}
.banner-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 400px;
    gap: 12px;
}
@media screen and (max-width: 576px) {
    .banner-section {
        flex-direction: column-reverse;
        height: auto;
    }
    
}
.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2rem auto;
}
.card-price {
   font-weight: 800;
   padding-top: 0.3rem;
   margin: 0;
}
.card-title {
  font-size: medium;
  font-weight: 500;
  margin: 0;
}
.plants-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.plants-title {
    font-size: 2.3rem;
    margin: 0 0 0.8rem 0;
    padding: 0.8rem auto auto 1rem;
}
.plants-description {
    padding: 3rem 4rem;
    margin: 0 2rem;
}
.button {
    color: #fff;
    font-weight: 400;
    background-color: #E95A08;
    border: none;
    text-align: center;
    padding: 1rem auto;
    height: 2.1rem;
    cursor: pointer;
}
.button a {
    color: #fff;
    text-decoration: none;
}
.button:hover {
    background-color: #723106;
}
.card img {
    width: 100%;
    height: auto;
}
.card {
    display: flex;
    flex-direction: column;
}
.card:hover {
    box-shadow: 0 2px 4px #723106;
    transform: translateY(-4px);
    transition: transform 0.2s ease-in-out;
}
.plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;
    margin: 1.5rem 0;
}
@media screen and (max-width: 576px) {
    .plants-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        align-items: center;
        gap: 1rem;
    }
    .card {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .plants-description {
        padding: 1.8rem 0;
        margin: 1rem;
    }
    .plants-title {
        margin: 0;
    }
    .plants-section {
        margin-bottom: 0;
    } 
}
.plants-section {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}
.plants-lover-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.4rem 0;
    padding-left: 0;

}
.plants-lover-title {
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
    margin-left: 0.5rem;
    padding-left: 0;
}
.plants-lover-description {
    padding-left: 1rem;
    padding-top: 0;
    margin: 0 5px 0 15px;
    height: auto;
    width: 100%;
}
.plants-lover-description li{
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}
.plants-lover-image img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 576px) {
    .plants-lover-image img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

    }
    .badge {
        display: none;
    }
    .plants-lover-section {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .plants-lover-text {
        width: 100%;
        height: auto;
        margin: 0 ;
        padding: 0;
    }
    .plants-lover-title {
        font-size: 1.8rem;
        margin: 0;
    }
    .plants-lover-description {
        font-size: 1rem;
        margin: 0;
    }
    .plants-lover-description li{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 0.2rem;
        margin-right: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
    
}
.plants-lover-image {
    position: relative;
}
.plants-lover-section {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 2.9rem;
    height: auto;
    margin: 6rem 0 2rem 0;
}    
.badge {
  position: absolute;
  top: -5.8rem;
  right: -4.6rem;
}
.badge img {
  width: 200px;
  height: auto;
  display: block;
}
.join-bg-imgage {
    background-image: url(news-letter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-section {
    margin-left: -6.55rem;
    margin-right: -6.55rem;
    padding-left: -6px;
    padding-right: -6px;
    height: 400px;
}
.join-title {
    color: #fff;
    font-size: xx-large;
    font-weight: 800;
    margin: 0 0 1rem 0;
}
.join-form input{
    margin: 0;
    border: none;
    outline: none;
    padding-left: 1rem;
    height: 1.95rem;
    width: 440px;
}
input[type="email"]:hover {  
    box-shadow: 0 4px 6px 1px rgb(5, 5, 43);
    transform: translateY(-4px);
    transition: transform 0.2s ease-in-out;
}
.join-form button{
    margin: 0;
    width: 130px;
}
@media screen and (max-width: 576px) {
    .join-section {
       margin: 0 -21px;
    }
    .join-form button{
       width: 80px;
       margin: 0;
       height: 1.4rem;
    }
    .join-input,
    .subscribe {
        font-size: smaller;
    }
    .join-title {
        font-size: larger;
        font-weight: 700;
    }
    .join-form input {
        margin: 0;
        padding: 10px;
        border: none;
        width: 220px;
        height: 0.09rem;
    }
}
.join-form {
    display: flex;
    row-gap: 0;
}
.join-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-description {
    margin: 0;
    padding-top: 0.8rem;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 1rem 0 0;
} 
.footer-logo img {
    width: 150px;
    height: auto;
    margin: 0;
}
.footer-link-list li{
    margin: 0 0 1.4rem;
    padding: 0 0 0.8rem ;
}
.footer-link-list li>a {
    color: #8987A1;
    text-decoration: none;
    font-size: small;
}
.footer-link-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 400;
    column-gap: 2.3rem;
    padding: 0;
    margin: 0 0 1.2rem 0;
}
@media screen and (max-width: 576px) {
    .footer-link-list {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0.1rem;
        margin-top: 0;
    }
    .footer-link-list li{
        margin: 0.5rem 0;
    }
    .footer-description {
        margin-top: 0.4rem;
        padding: 0.3rem 1rem 0.3rem 0;
    }
    
}
.social-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 0 0 1rem;
    padding: 0;
    gap: 2.3rem;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    margin: 2rem auto 0;
}
@media screen and (max-width: 576px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        height: auto;
        margin: 0 0 0.5rem 0;
    }
    .social-links {
        margin: 0;
    }
}